@page "/"
@using Models
<PageTitle>Game Catalog</PageTitle>
@inject NavigationManager NavigationManager

<h1>Game Catalog</h1>
<div class="row mb-4">
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" @onclick="CreateGame">New Game</button>
    </div>
</div>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* sends props to the delete Game Component |Game| Onclose *@
    <DeleteGame Game="@currentGame" OnClose="@onDelModalClose">

    </DeleteGame>


    <table class="table  ">
        <thead class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Release</th>
            <th></th>
        </thead>
        <tbody class="table-light">
            @foreach (var game in games)
            {

                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td>@game.Price</td>
                    <td>@game.ReleasedDate.ToString("MM/dd/yyyy")</td>
                    <td>
                        <button class="btn bg-info" @onclick="(()=>EditGame(game.Id))">
                            <iconify-icon icon="akar-icons:pencil" style="color: white"></iconify-icon>
                        </button>
                        <button class="btn bg-info" @onclick="(()=> currentGame = game)" data-toggle="modal"
                            data-target="#deleteGame" >
                            <iconify-icon icon="mdi:bin-outline" style="color: white;"></iconify-icon>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    @* Hold Games list *@
    private Game[]? games;
    @* Game selected for delete *@
    private Game? currentGame { get; set; }


    protected override void OnInitialized()
    {
        @* base.OnInitialized(); *@
        games = GameClient.GetGames();
    }

    @* method for navigating to adding a game *@
    private void CreateGame()
    {
        NavigationManager.NavigateTo("/game");
    }
    @* method for navigating to update games when click *@
    private void EditGame(int id)
    {
        NavigationManager.NavigateTo($"/game/{id}");
    }

    private void onDelModalClose(bool decision)
    {
        if (decision)
        {
            GameClient.DeleteGame(currentGame!.Id);
            games = GameClient.GetGames();
        }
    }
}